[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel --config /home/<USER>/.cloudflared/config.yml run
Restart=on-failure
RestartSec=5s
User=<USER>
WorkingDirectory=/home/<USER>/.cloudflared/ # Optional

[Install]
WantedBy=multi-user.target

